*{
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	}	
	body {
background : #1f1f1f;

}

h1{
-webkit-text-fill-color: #e0e2e4;
}
/* Container */
.container{
width: 100%;
max-width: 1200px;
margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
margin: 0;
}
/* Intro */
.intro__tilte{
font-family: 'Kaushan Script', cursive;
font-size: 52px;
font-weight: 900;
text-transform: uppercase;
line-height: 1;
color: #e0e2e4;
animation: rainbow 8s infinite;

}



.intro__inner{
font-family: 'Kaushan Script', cursive;
width: 100%;
max-width: 880px;
margin: 0 auto;
text-align: center;


}
.intro__subtitle{
font-family: 'Kaushan Script', cursive;
margin-top: 10px;
font-size: 15px;
text-transform: uppercase;

color: #e0e2e4;
margin-bottom: 10px;
}



/* Header */
.header{
font-family: 'Open Sans', sans-serif;
padding-top: 25px;
width: 100%;
position: absolute;
top: 0;
left: 0;
right: 0;
z-index: 1000;
}
.logo{
font-family: 'Open Sans', sans-serif;
font-size: 30px;
font-weight: 700;
color: #e0e2e4;
}
.nav{
text-transform: uppercase;
font-size: 16px;
}
.nav__link {
display: inline-block;
vertical-align: top;
margin: 0 15px;
color: #e0e2e4;
position: relative;
text-decoration: none;
transition: color .2s linear;
}
.nav__link:hover{
color: #7289da;
}
.nav__link:after{
content: "";
display: block;
width: 100%;
height: 2px;

background-color: #7289da;
opacity: 0;
position: absolute;
top:100%;
left: 0;
z-index: 1;
transition: opacity .3s linear;
}

.nav__link:hover:after{
opacity: 1;
}

.header__inner {
display: flex;
justify-content: space-between;
align-items: center;
}

@keyframes pulse{
0%{
opacity: 1;
}
50%{
opacity: 0;
}
100%{
opacity: 1;
}
}

/* Button */
.btn {
font-family: 'Open Sans', sans-serif;
display: inline-block;
vertical-align: top;
padding: 10px 25px;
border: 4px solid #7289da;
color: #e0e2e4;
text-transform: uppercase;
font-size: 14px;
font-weight: 700;
text-decoration: none;
transition: background 1s linear;
animation: support 0.8s infinite, pulse 15s infinite;
border-radius: 40%;
}
.btn:hover{
border-radius: 30%;

color: #e0e2e4;
animation: rainbow 8s infinite, support 0.8s infinite;
}

@keyframes support {
0% {-moz-box-shadow: 0 0 0 0 rgba(153, 153, 255, 0.5); box-shadow: 0 0 0 0 rgba(153, 153, 255, 0.5);}
70% {-moz-box-shadow: 0 0 0 10px rgba(153, 153, 255, 0); box-shadow: 0 0 0 10px rgba(153, 153, 255, 0);}
100% {-moz-box-shadow: 0 0 0 0 rgba(153, 153, 255, 0); box-shadow: 0 0 0 0 rgba(153, 153, 255, 0);}
}

/* End of Button*/

/* Section */
.section{
color: #e0e2e4;
padding: 80px 0;
}
.section__header{
width: 100%;
max-width: 950px;
margin: 0px auto 40px;
text-align: center;
}
.section__suptitle{
font-family: 'Kaushan Script', cursive;
font-size: 24px;
color: #7289da;
margin-bottom: 15px;
}
.section__title{
font-family: 'Open Sans', sans-serif;
font-size: 30px;
text-transform: uppercase;
}
.section__title:after{
content: "";
display: block;
width: 90px;
height: 2px;
margin: 25px auto ;
background-color: #7289da;
}
.section__text{
font-size: 18px;
text-align: center;

}
.about{
display: flex;
justify-content: space-between;
}
.about__item{
width: 15%;
}
.about__img{
width: 110%;
height: 110%;
}


body {
	padding:0;
	margin:0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 99.9%;
background-image:url(1.jpg);
}
canvas {
padding:0;
margin:0;
opacity:0.25;
}
div.btnbg {
position:fixed;
left:0;
top:0;
}
.social-links {
display: flex;
justify-content: center;
align-items: center;
}

.icon-button {
background-color: black;
border-radius: 3.6rem;
cursor: pointer;
display: inline-block;
font-size: 2.0rem;
height: 3.6rem;
line-height: 3.6rem;
margin: 0 5px;
position: relative;
text-align: center;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
	user-select: none;
width: 3.6rem;
}

/* Circle */
.icon-button span {
border-radius: 0;
display: block;
height: 0;
left: 50%;
margin: 0;
position: absolute;
top: 50%;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
 -o-transition: all 0.3s;
	transition: all 0.3s;
width: 0;
}
.icon-button:hover span {
width: 3.6rem;
height: 3.6rem;
border-radius: 3.6rem;
margin: -1.8rem;
}
.github span {
background-color: white;
}
.discord span {
background-color: white;
}

.twitch span {
background-color: white;
}

.youtube span {
background-color: white;
}



/* Icons */
.icon-button i {
background: none;
color: white;
height: 3.6rem;
left: 0;
line-height: 3.6rem;
position: absolute;
top: 0;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
 -o-transition: all 0.3s;
	transition: all 0.3s;
width: 3.6rem;
z-index: 10;
}
.icon-button .icon-twitter {
color: #4099ff;
}
.icon-button .icon-facebook {
color: #3B5998;
}
.icon-button .icon-google-plus {
color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
color: white;
}

h1 {
text-shadow: 2px 5px black;
}
@keyframes rainbow {
0% {
color: purple;
}
10% {
color: red;
}
20% {
color: orange;
}
30% {
color: green;
}
40% {
color: aqua;
}
50% {
color: lime;
}
60% {
color: green;
}
70% {
color: aqua;
}
80% {
color: blue;
}
90% {
color: indigo;
}
100% {
color: blue;
}
}
#loading_layer{
position:absolute;
width:100%;
height:100%;
top:0;
left:0;
z-index:999999;
background-color: black;
text-align: center;
margin: 0 auto;
}
#sakura{
z-index:-999999999;
}